Repository maehr/academic-pandoc-template, changes with the labels that .github/labeler.yml gives for each.
All labels: template, docs

.github/labeler.yml:

template:
- template/*

docs:
- .github/*
- docs/*
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE.md
- README.md
- SECURITY.md
- .gitattributes
- .gitignore

preview image and some minor fixes
  README.md
  docs/assets/images/academic-pandoc-template.png
  docs/index.md
  template/academic-pandoc-template.docx
  template/academic-pandoc-template.md
  template/academic-pandoc-template.pdf
  template/cat.jpg
  template/style.csl
Labels: template, docs

Develop (#12)
  README.md
  SECURITY.md
  docs/assets/images/academic-pandoc-template.png
  docs/index.md
  template/academic-pandoc-template.docx
  template/academic-pandoc-template.md
  template/academic-pandoc-template.pdf
  template/cat.jpg
  template/style.csl
Labels: template, docs

typo and compressed images
  docs/assets/images/18.png
  docs/assets/images/25.png
  docs/assets/images/29.png
  docs/assets/images/30.png
  docs/assets/images/31.png
  docs/assets/images/36.png
  docs/assets/images/38.png
  template/academic-pandoc-template.md
Labels: template

#13 fixed (#14)
  docs/assets/images/18.png
  docs/assets/images/25.png
  docs/assets/images/29.png
  docs/assets/images/30.png
  docs/assets/images/31.png
  docs/assets/images/36.png
  docs/assets/images/38.png
  template/academic-pandoc-template.md
Labels: template

fixing #11
  README.md
Labels: docs

fixing #11 (#15)
  README.md
Labels: docs

fix css hover behaviour
  docs/assets/css/style.scss
Labels: none

fix css hover behaviour (#16)
  docs/assets/css/style.scss
Labels: none
